.cinema-body{
  background: #CBBD49;
}
.navbar{
  height: 10% !important;
  background-color: #9C0C0C;
}
.container{
  margin-top: 64px !important;
}
.jumbotron{
  background: #090554;
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0 !important;
}
.titulo-cartelera{
  min-height: 45px;
  background: #055434;
}
.movies-row{
  background: #12AA24;
  min-height: 350px;
  padding: 0 15px 0 15px;
}
.movie-column{
  margin-top: 5px;
  background: #12AA95;
  min-height: 330px;
  border: 1px dashed brown;
}
@media (max-width:991px) {
  .right-column{
    display: none;
  }
  .movies-row{
    min-height: 250px;
  }
  .movie-column{
    min-height: 230px;
  }
  .jumbotron{
    min-height: 350px;
  }
}
